html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 10px;
    border-top: 1px solid #e7e7e7;
}